/* Golang */
.golang {
    background: #00add8;
    animation: golang 2s linear forwards;
}

.golang span {
    border: 1px solid #00add8;
}

@keyframes golang {
    100% {
        width: 90%;
    }
}

/* Node */
.node {
    background: #83cd29;
    animation: node 2s linear forwards;
}

.node span {
    border: 1px solid #83cd29;
}

@keyframes node {
    100% {
        width: 80%;
    }
}

/* Laravel */
.laravel {
    background: #ff2d20;
    animation: laravel 2s linear forwards;
}

.laravel span {
    border: 1px solid #ff2d20;
}

@keyframes laravel {
    100% {
        width: 30%;
    }
}

/* Python */
.python {
    background: #ffe873;
    animation: python 2s linear forwards;
}

.python span {
    border: 1px solid #ffe873;
}

@keyframes python {
    100% {
        width: 75%;
    }
}
