/* Vue/Nuxt */
.vue {
    background: #42b883;
    animation: vue 2s linear forwards;
}

.vue span {
    border: 1px solid #42b883;
}

@keyframes vue {
    100% {
        width: 90%;
    }
}

/* React */
.react {
    background: #61dafb;
    animation: react 2s linear forwards;
}

.react span {
    border: 1px solid #61dafb;
}

@keyframes react {
    100% {
        width: 80%;
    }
}

/* Tailwind */
.tailwind {
    background: #38bdf8;
    animation: tailwind 2s linear forwards;
}

.tailwind span {
    border: 1px solid #38bdf8;
}

@keyframes tailwind {
    100% {
        width: 85%;
    }
}

/* HTML/CSS */
.html {
    background: #e44d26;
    animation: html 2s linear forwards;
}

.html span {
    border: 1px solid #e44d26;
}

@keyframes html {
    100% {
        width: 90%;
    }
}
