/* K8s/Docker */
.k8s {
    background: #326ce5;
    animation: k8s 2s linear forwards;
}

.k8s span {
    border: 1px solid #326ce5;
}

@keyframes k8s {
    100% {
        width: 50%;
    }
}

/* Helm/KubeVela */
.helm {
    background: #9c27b0;
    animation: helm 2s linear forwards;
}

.helm span {
    border: 1px solid #9c27b0;
}

@keyframes helm {
    100% {
        width: 60%;
    }
}

/* CI/CD */
.cicd {
    background: #f05032;
    animation: cicd 2s linear forwards;
}

.cicd span {
    border: 1px solid #f05032;
}

@keyframes cicd {
    100% {
        width: 70%;
    }
}

/* SQL */
.sql {
    background: #00bcd4;
    animation: sql 2s linear forwards;
}

.sql span {
    border: 1px solid #00bcd4;
}

@keyframes sql {
    100% {
        width: 75%;
    }
}
